#uwwtd-conformity-form .form-item{
	display: inline-block;
	width: 10%;
}

#uwwtd-conformity-form .form-item:nth-child(5n+2){
	width: 45%;
}

#uwwtd-conformity-form .form-item:nth-child(5n+5){
	width: 30%;
}

#uwwtd-conformity-form .form-item:first-child{
	width: 100%;
}

.stackedcolumnchart {
    margin-top: 20px;
}

.charts-rows-cell th {
    min-width: 70px;
    text-align: right;
}

.charts-rows-cell th:first-child {
    text-align: left;
}

.charts-rows-cell td {
    text-align: right;
}

.charts-rows-cell td:first-child {
    text-align: left;
}

.content-table, .content-table th {
    text-align: center;
}

.content-table, .content-table td {
    text-align: center;
}

div.geospatial-award{
    background-color:#fff;
    color:#4f4f4f;
    margin:7px;
}
div.geospatial-award div{
    display:inline-block;
    padding : 14px;
    width:49%;
}
div.geospatial-award-img{
    text-align:right;
}
div.geospatial-award-img img{
    width:85px;
}
div.geospatial-award-txt{
    text-align:left;
    font-weight:bold;
}